.definitionPair {
    display: flex;
}

.list {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: space-between;
}
.listItem {
    margin-right: 1rem;
    margin-bottom: 1.5rem;
}

.section {
    margin-bottom: 2rem;
}