.kittenWrapper {
  background: url(http://placekitten.com/800/600);
  background-repeat: no-repeat;
  border: 1px solid #000;
  min-height: 40rem;
}

.kittenWrapper p {
    background: rgba(0,0,0,.5);
    color: #fff;
    font-size: 2rem;
  }

.bg100 {
  background-size: 100% 100%;
}

.bgcontain {
  background-size: contain;
}

.bgcover {
  background-size: cover;
}
